@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Red+Rose:wght@600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:&display=swap');
*{
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
}

body{
  background-color: rgb(243 244 246)
}

.active{
  @apply text-[#009bd6] 
}


.pagination{
display: flex;
justify-content: center;
align-items: center;
list-style-type: none;
padding: 0;
}

.pagination li{
margin: 0 5px;

}

.pagination a{
display: flex;
padding: 5px 10px;
border: 1px solid  #ccc;
border-radius: 4px;
color: #000;

}

.pagination a:hover{
background-color: #eee;


}

.pagination li.activePagination{
background:#009bd6;
border-radius: 4px;
color: #fff;
}


.active-button{
color: #009bd6;

}
.Devices {
  background: linear-gradient(to bottom, #1E3A6B, #446CB3);
  color: #fff;
}

.Code {
  background: linear-gradient(to bottom, #232634, #434A5E);
  color: #fff;
}

.Innovation {
  background: linear-gradient(to bottom, #8E734B, #F5E6B7);
  color: #fff;
}

.Cybersecurity {
  background: linear-gradient(to bottom, #B6513A, #F1DDD9);
  color: #fff;
}

.Trends {
  background: linear-gradient(to bottom, #680000, #AB0000);
  color: #fff;
}

.AI {
  background: linear-gradient(to bottom, #4A8849, #9BDC9B);
  color: #fff;
}
