@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Red+Rose:wght@600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:&display=swap');
*{
  font-family:'Roboto Condensed', 'Roboto', sans-serif;
}

body{
  background-color: rgb(243 244 246)
}

.active{
  @apply text-[#009bd6] 
}


.pagination{
display: flex;
justify-content: center;
align-items: center;
list-style-type: none;
padding: 0;
}

.pagination li{
margin: 0 5px;

}

.pagination a{
display: flex;
padding: 5px 10px;
border: 1px solid  #ccc;
border-radius: 4px;
color: #000;

}

.pagination a:hover{
background-color: #eee;


}

.pagination li.activePagination{
background:#009bd6;
border-radius: 4px;
color: #fff;
}


.active-button{
color: #009bd6;

}
.Devices {
  background: #3498db;
  color: #fff;
}

.Code {
  background: #2ecc71;
  color: #fff;
}

.Innovation {
  background: #f39c12;
  color: #fff;
}

.Cybersecurity {
  background: #e74c3c;
  color: #fff;
}

.Trends {
  background:  #8e44ad;
  color: #fff;
}

.AI {
  background:#3498db;
  color: #fff;
}
