.active{
  @apply text-[#009bd6] 
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.pagination{
display: flex;
justify-content: center;
align-items: center;
list-style-type: none;
padding: 0;
}

.pagination li{
margin: 0 5px;

}

.pagination a{
display: flex;
padding: 5px 10px;
border: 1px solid  #ccc;
border-radius: 4px;
color: #000;

}

.pagination a:hover{
background-color: #eee;


}

.pagination li.activePagination{
background:#009bd6;
border-radius: 4px;
color: #fff;
}


.active-button{
color: #fc3c1a;

}